services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: upt-pik-frontend
    ports:
      - '80:80'
      - '3000:3000'
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://localhost:5001/api
      # Tambahkan environment variables lainnya
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
